.usBanner {
  position: relative;
  box-sizing: border-box;
  text-align: left;
  padding: 14.3333% 18.055% 8.222%;
  background-color: #f5faff;
}

.usBanner img {
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: auto;
}

.usBanner h1 {
  font-size: 36px;
  color: #2e313c;
}

.usBanner small {
  font-size: 20px;
  color: #495b70;
}

.aboutContain {
  max-width: 1000px;
  width: 58%;
  margin: 84px auto 64px;
  padding: 3.22% 5.55%;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08);
}

.aboutContain h2 {
  margin: 20px 0 24px;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: rgba(46, 49, 60, 1);
}

.aboutContain p {
  margin-bottom: 8px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  color: rgba(73, 91, 112, 1);

}

@media screen and (max-width: 1200px) {
  .usBanner {
    padding: 8.3333% 18.055% 18.222%;
  }

  .aboutContain {
    width: 75.555%;
    margin: 5.5% auto;
    padding: 3.22% 6.55%;
  }
}

@media screen and (min-width: 200px) and (max-width: 614px) {
  .pcBanner {
    display: none !important;
  }

  .h5Banner {
    display: block !important;
  }

  .usBanner {
    padding: 34.3333% 18.055% 18.222%;
  }

  .aboutContain {
    box-shadow: none;
  }
}