.context_Package {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  background: #f7f9fc;
}

.main {
  max-width: 640px;
  width: 90%;
  padding: 48px 46px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.subTitle {
  font-size: 20px;
  padding-left: 10px;
  border-left: 3px solid #0d6fde;
  line-height: 1;
  margin-bottom: 28px;
}

.main>p,
h1 {
  text-align: center;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 9px;
}

.main ul li {
  width: 80px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #e1e7ef;
  color: #8494a6;
  text-align: center;
  line-height: 31px;
  margin: 5px;
  cursor: pointer;
}

.main ul li:last-child {
  margin-right: 0;
}

.settlement {
  padding: 40px 0 40px 14px;
}

.active_style {
  color: #0d6fde !important;
  border-color: #0d6fde !important;
}

/* 适配各手机 */
@media screen and (min-width: 300px) and (max-width: 414px) {
  .main {
    padding: 48px 26px;
  }
}