.helpContainer{
  width: 75%;
  margin: 0 auto;
  padding-bottom:5.5vw;
}
.helpTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:8vh 0;
}
.identity{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.identityLi{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5vh;
}
.identityBtn{
  width: 120px;
  background-color: #0d6fde;
}
.identityBtn:hover{
  background-color: #348FEB;
}
.useHelpTitle{
  /* font-size: '30px';
  color: '#2e313c';
  font-family: 'PingFangSC-Medium';*/
  color: rgba(0,0,0,.85);
  margin-bottom: 3vh;
  font-family: 'PingFangSC-Medium'!important;
  font-size: 30px;
  font-weight: 400;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
}