.helpContainer {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 5.5vw;
}

.help_container {
  max-width: 1200px;
  width: 80%;
  border: solid 1px #eff2f6;
  padding: 3vw 1vw;
  margin: 0 auto;
}

.helpTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.55% 0;
}

.identity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.identityLi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5vh;
}

.identityBtn {
  width: 120px;
  background-color: #0d6fde;
  height: 40px;
  border-color: #0d6fde;
}

.identityBtn:hover {
  background-color: #348FEB;
}

.useHelpTitle {
  color: rgba(0, 0, 0, .85);
  margin-bottom: 3vh;
  font-family: 'PingFangSC-Medium' !important;
  font-size: 30px;
  font-weight: 400;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 614px) {
  .helpContainer {
    width: 85%;
  }

  .helpTitle {
    padding: 50px 0;
  }

  .help_container {
    width: 100%;
  }

  .help_container {
    width: 100%;
  }

  .identityLi a+a {
    margin-top: 25px !important;
  }
}