.helpContainer{
  width: 75%;
  margin: 0 auto;
  padding-bottom:5.5vw;
  font-family: 'PingFangSC-Regular';
}
.helpTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:8vh 0;
}
.identity{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.identityLi{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5vh;
}
.identityBtn{
  width: 120px;
  background-color: #0d6fde;
}
.identityBtn:hover{
  background-color: #348FEB;
}
/* .identity>div{
  padding:0 11.5vw;
} */