.callWe {
  position: relative;
  text-align: center;
  padding: 8.3333% 0 8.222%;
  background-color: #f5faff;
}

.callWe img {
  /* width: 80%; */
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: auto%;
}

.callWe h1 {
  font-size: 36px;
  color: #2e313c;
}

.callWe small {
  font-size: 20px;
  color: #495b70;
}

.callTit {
  margin: 7.709% 14.027% 7.43%;
}

.callTit h4 {
  margin-bottom: 58px;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: rgba(46, 49, 60, 1);
}

.callTit .row {
  justify-content: space-between;
}

.callTit .row>div .linkItem {
  margin-top: 16px;
}

.linkItem {
  padding-bottom: 21px;
  color: #495b70;
  border-bottom: 1px solid #eff2f6;
}

.linkItem b {
  display: block;
  padding: 7px 0 18px;
  font-family: PingFangSC-Semibold !important;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: rgba(46, 49, 60, 1);
}

.linkItem p {
  /* margin-bottom: 7px; */
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: rgba(73, 91, 112, 1);

}

.linkItem p+p {
  margin-top: 10px;
}

.cooperate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cooperate span {
  margin-bottom: 10px;
  /* line-height: 21px; */
  padding-right: 10px;
}

.cooperate span:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 300px) and (max-width: 414px) {
  .callWe {
    padding: 8.3333% 18.055% 18.222%;
  }

  .callTit h4 {
    margin: 20px auto 10px;
  }
}