ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: PingFangSC-Regular;
}

.homeSplashFade {
  position: relative;
  width: 100%;
  padding-bottom: 40.1389%;
  background-size: 38.659%;
  background-position: 50%;
  background-color: #0d6fde;
  font-size: 100px;
  /* color: red; */
}

.bannerContain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  width: 86%;
  max-width: 1300px;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 10%;
}

.navbar {
  background: blueviolet;
}

.homeSplashFade .homeTitle {
  /* transform: scale(.9); */
  margin: 6% 0 0;
  color: #fff;
}

.homeSplashFade .banner {
  width: 46.1389%;
}

.homeSplashFade .banner img {
  width: 100%;
}

.homeSplashFade h2 {
  margin-bottom: 14px;
  font-size: 44px;
  font-family: PingFangSC-Semibold !important;
  color: #fff;
}

.homeSplashFade h2+p {
  font-size: 18px;
}

.homeSplashFade .freeUse a {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}

.homeSplashFade .function p {
  padding-left: 20px;
  font-size: 16px;
}

.homeSplashFade button {
  padding: 4px 24px;
  box-sizing: content-box;
}

/* .homeSplashFade p {
  font-family: PingFangSC-Regular;
} */

/* .homeSplashFade button {
  font-family: PingFangSC-Regular;
} */

.homeSplashFade .function {
  padding: 34px 0 36px;
}

.homeSplashFade .funList {
  position: relative;
  padding-left: 12px;
}

.homeSplashFade .funList+.funList {
  margin-top: 16px;
}

.homeSplashFade .funList:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: #fff;
  content: '';
}

.homeSplashFade .freeUse {
  display: block;
  font-weight: bold;
  color: #223954;
}

.detailCar {
  overflow: hidden;
}

.detailCar ul {
  padding: 0;
}

.detailCar li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}

.detailCar li .carDetail {
  width: 50%;
}

.detailCar li:nth-child(2n) {
  flex-direction: row-reverse;
}

.detail b {
  font-family: PingFangSC-Medium;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #2e313c;
}

.detail p {
  margin: 15px 0 20px 0;
  width: 400px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 0px;
  color: #495b70;
}

.detail p+span {
  color: rgb(132, 148, 166);
}

.detailCar li .carImg,
.detailCar li .carDetail {
  vertical-align: middle;
}

.detailCar .carImg {
  /* overflow: hidden; */
  width: 500px;
  /* height: 300px; */
  /* background: blueviolet; */
}

.detailCar li .carImg img {
  width: 100%;
}

.carDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 功能列表 */
.container {
  margin: 20px 147px 0;
}

.title {
  margin: 9.8% auto 4.93%;
  font-family: PingFangSC-Medium !important;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

.functionCarList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.functionCarList>li {
  display: flex;
  width: 43%;
  padding: 25px;
  margin: 0 15px 30px;
  border: 1px solid #eff2f6;
  transition: all 0.3s;
}

.functionCarList>li:hover {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.13);
}

.functionCarList>li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.functionCarList>li .functionCarIcon {
  float: left;
  width: 86px;
  height: 77px;
  /* background: red; */
}

.functionCarList>li .functionItem {
  margin-left: 40px;
  width: 70%;
  box-sizing: border-box;
}

.functionItem b {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: PingFangSC-Medium !important;
  color: #2e313c;
}

.functionItem ul {
  overflow: hidden;
  width: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  color: #495b70;
  /* font-family: PingFangSC-Regular; */
}

.functionItem ul li {
  display: inline;
}

.functionItem ul li:after {
  content: '|';
  padding: 10px;
  text-align: center;
}

.functionItem ul li:nth-child(3):after,
.functionItem ul li:last-child:after {
  display: none;
}



.supportList li {
  height: min-content;
  /* background: red; */
}

.supportList li small {
  display: block;
  margin: auto;
}

.supportList h4 {
  margin: 30px 0 20px;
  text-align: center;
  font-family: PingFangSC-Medium !important;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 14px;
  letter-spacing: 0px;
  color: #2e313c;
}

.supportList small {
  /* font-family: PingFangSC-Regular; */
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgba(73, 91, 112, 1);
}

/* 客户评价 */
.commentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.commentList li {
  height: fit-content;
  padding: 23px 38px 30px;
  border: 1px solid #f1f1f1;
  width: 31%;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.commentList li:hover {
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
}

.clientMsg i {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin-right: 10px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  border: 1px #efefef solid;
  /* background: royalblue; */
}

.clientMsg i img {
  vertical-align: top;
}

.clientMsg span {
  font-family: PingFangSC-Medium !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: rgba(46, 49, 60, 1);
}

.commentList li p {
  margin-top: 22px;
  /* font-family: PingFangSC-Regular; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(73, 91, 112, 1);
}

/* 客户列表 */
.clientContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  /* background: red; */
  /* border: 1px solid #0d6fde; */
}

.clientList {
  padding-top: 4px;
  vertical-align: middle;
}

.clientList>li {
  display: inline-block;
}

.clientList,
.clientList>li {
  padding: 4px;
  white-space: nowrap;
}

.clientItem {
  /* float: left; */
  display: inline-block;
  margin-right: 48px;
}

.avatar {
  border-radius: 50%;
  display: inline-block;
  width: 66px;
  height: 66px;
  margin-right: 20px;
  /* background: #223954; */
}

.avatar,
.avatar+small {
  font-family: PingFangSC-Medium !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  vertical-align: middle;
}

/* 兼容处理 */

@media screen and (max-width: 1290px) {
  .container {
    margin: 20px 87px 0;
  }

  .homeSplashFade .homeTitle {
    transform: scale(.8);
  }

  .detailCar li .carDetail,
  .detailCar li .carImg {
    width: 45%;
  }

  .functionCarList>li {
    width: 49%;
    margin: 10px auto;
  }

  .supportList li {
    width: 38%;
    margin: 30px;
  }

  .bannerContain {
    width: 82%;
  }

  .homeSplashFade .banner {
    width: 46%;
  }

  .commentList li {
    padding: 21px 30px 40px;
    width: 30%;
  }
}

/* 技术支持 */
.supportList {
  /* margin: 0 10%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.supportList li {
  overflow: hidden;
  width: 28.138%;
  margin: 0 12px;
  border: 1px solid #bdbbbb33;
  border-radius: 10px;
  transition: all 0.3s;
}

.supportList li:hover {
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.13);
}

.supportTitle {
  text-align: center;
  margin: 30px 0 20px;
  color: #2e313c;
}

.supportTitle+p {
  padding: 0 20px;
  color: #495b70;
}

.useLive {
  margin: 123px auto 55px;
  padding: 63px 0 58px;
  text-align: center;
  color: #fff;
  background: #0d6fde;
  border-radius: 10px;
}

.useLive h3 {
  font-family: PingFangSC-Medium !important;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.useLive h3+p {
  margin-top: 10px;
}

.useLive p {
  /* font-family: PingFangSC-Regular; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.useLive .linkBtn {
  margin-top: 41px;
}

.useLive button {
  margin: 0 20px;
  padding: 4px 18px;
  box-sizing: content-box;
}

.useLive button:nth-child(1) {
  /* font-family: PingFangSC-Regular; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(31, 31, 31, 1);
}

.useLive button:nth-child(2) {
  background-color: rgba(13, 111, 222, 1);
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 1);
  /* font-family: PingFangSC-Regular; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1127px) {

  .solution {
    margin-bottom: 80px;
  }

  /* .homeSplashFade {
    font-size: 50px;
  } */
  .homeSplashFade h2 {
    font-size: 30px;
  }

  .homeSplashFade p,
  .homeSplashFade span,
  .homeSplashFade button {
    font-size: 14px;
  }

  .homeSplashFade .homeTitle {
    margin: 14% 0 0;
    transform: scale(1);
  }

  .homeSplashFade .funList+.funList {
    margin-top: 4px;
  }

  .homeSplashFade .function {
    padding: 24px 0 26px;
  }

  .detailCar li .carDetail {
    width: 45%;
  }

  .carDetail b {
    font-size: 24px;
  }

  .detailCar li .carImg {
    width: 45%;
  }

  .detailCar li .carImg img {
    width: 80%;
    display: block;
    margin: auto;
  }

  .supportList li {
    width: 36%;
    margin: 30px;
    border-radius: 10px;
  }

  .commentList {
    justify-content: start;
  }

  .commentList li {
    height: fit-content;
    margin-left: 20px;
    padding: 23px 38px 30px;
    width: 45%;
  }
}

@media screen and (max-width: 1060px) {
  .detailCar li .carDetail {
    width: 59%;
    text-align: left;
  }


  .carDetail .detail p {
    margin: auto;
    width: 340px;
  }

  .carDetail b {
    font-size: 18px;
  }

  .detailCar li .carImg {
    width: 80%;
    margin: auto;
  }

  .detailCar li {
    margin-top: 16px;
  }

  .carDetail .detail b {
    display: block;
    /* text-align: center; */

    text-align: left;
    font-family: PingFangSC-Medium;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #2e313c;
    margin: 10px auto;
  }

  .functionCarList>li {
    width: 60%;
    margin: 10px auto;
  }

  .supportList li {
    margin: 20px;
    width: 40.138%;
  }

  .commentList li {
    height: fit-content;
    margin-left: 20px;
    padding: 23px 38px 30px;
    width: 45%;
  }
}

@media screen and (max-width: 960px) {
  .homeSplashFade .banner {
    width: 30%;
  }

  .functionCarList>li {
    width: 68%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 880px) {

  .container {
    margin: 20px 57px 0;
  }

  .homeSplashFade .banner {
    top: 5%;
    width: 40%;
    right: 5%;
  }

  .homeSplashFade {
    font-size: 50px;
  }

  .homeSplashFade .function {
    padding: 14px 0 16px;
  }

  .functionCarList>li {
    width: 73%;
    margin: 10px auto;
  }

  .supportList {
    justify-content: center;
  }

  .supportList li {
    width: 50%;
  }
}

@media screen and (max-width: 770px) {
  /* 
  .homeSplashFade .banner {
    top: 10%;
    right: 30%;
  } */

  .homeSplashFade {
    padding-bottom: 104%;
  }

  .homeSplashFade .bannerContain {
    flex-wrap: wrap;
  }

  .detailCar li .carDetail {
    margin: 26px 40px;
  }

  .homeSplashFade .banner {
    width: 70%;
  }

  .homeSplashFade .homeTitle {
    width: 70%;
    margin-top: 10%;
  }

  .clientContainer {
    width: 86%;
  }
}

@media screen and (max-width: 714px) {
  .container {
    margin: 20px 27px 0;
  }


  .homeSplashFade .homeTitle {
    width: 88%;
  }

  .homeSplashFade .banner {

    transform: scale(1.2);
  }

  .functionItem ul li span {
    padding: 0 13px;
  }

  /* .homeSplashFade .freeUse {
    display: none;
  } */

  .functionCarList>li {
    width: 78%;
    margin: 10px auto;
  }

  .supportList li {
    width: 55.138%;
    margin-top: 20px;
  }

  .commentList {
    justify-content: space-around;
  }

  .commentList li {
    height: fit-content;
    margin: 20px;
    padding: 23px 38px 30px;
    width: 62%;
  }

  .useLive {
    padding: 43px 0 28px;
    margin: 83px auto 25px;
  }

  .useLive .linkBtn {
    margin-top: 21px;
  }
}

.detail p+span {
  font-size: 12px;
}

@media screen and (max-width: 620px) {
  .functionItem ul li span {
    padding: 0 6px;
  }

  .detailCar li:last-child .carDetail .detailCar li .carDetail {
    margin: 10px 0 40px;
  }

  .detailCar li:last-child .carDetail {
    margin: 10px 0 0px;
  }

  .useLive {
    padding: 43px 0 43px;
  }

  .detailCar li {
    margin-top: 0;
  }

  .solution {
    margin: 0 0 80px;
  }

  .title {
    margin: 9.8% auto 8.93%;
  }

  .commentList li {
    height: fit-content;
    width: 78%;
  }

  .functionCarList>li {
    width: 79%;
    margin: 10px auto;
  }

  .useLive {
    margin: 53px auto 15px;
  }
}

@media screen and (max-width: 560px) {
  .homeSplashFade {
    padding-bottom: 124%;
  }

  .homeSplashFade .bannerContain {
    width: 90%;
  }

  .homeSplashFade .banner {
    width: 80%;
  }

  .container {
    margin: 20px 8px 0;
  }

  .functionItem ul li span {
    padding: 0 2px;
  }


  .homeSplashFade .homeTitle {
    width: 90%;
    margin-top: 10%;
  }

  /* .homeSplashFade h2 {
    font-size: 24px;
  } */

  .homeSplashFade p {
    margin: 4px 0;
  }

  .homeSplashFade p,
  .homeSplashFade span,
  .homeSplashFade button {
    font-size: 12px;
  }


  .homeSplashFade .funList+.funList {
    margin-top: 4px;
  }

  .homeSplashFade .function {
    padding: 4px 0 6px;
  }

  .functionCarList>li {
    width: 80%;
    padding: 15px 10px;
  }

  .functionCarList>li .functionItem {
    margin-left: 0px;
    width: 70%;
    box-sizing: border-box;
  }

  .homeSplashFade .funList+.funList {
    margin-top: 4px;
  }

  .supportList li {
    width: 75.138%;
  }

  .commentList li {
    width: 80%;
  }

  .useLive h3 {
    font-size: 24px;
  }

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 460px) {

  .homeSplashFade {
    padding-bottom: 164%;
  }

  .homeSplashFade .homeTitle {
    width: 100%;
    margin-top: 10%;
  }

  /* .homeSplashFade h2 {
    font-size: 20px;
  } */

  .homeSplashFade h2+p {
    margin: 10px 0 25px;
    font-size: 16px;
  }

  .homeSplashFade .function p {
    font-size: 14px;
  }

  .homeSplashFade button {
    margin: 25px 0 0;
  }

  .functionCarList>li {
    width: 100%;
    padding: 15px 10px;
  }

  .homeSplashFade p,
  .homeSplashFade span,
  .homeSplashFade button {
    font-size: 14px;
  }

  .functionItem ul li:after {
    padding: 2px;
  }

  .commentList li {
    width: 100%;
  }

  .supportList li {
    width: 85%;
  }

  .functionCarList>li .functionCarIcon {
    float: left;
    width: 53px;
    height: 42px;
  }
}

@media screen and (max-width: 310px) {
  .homeSplashFade {
    padding-bottom: 224%;
  }
}