.purchase_main {
  text-align: center;
  padding: 10px 10%;
}

.page_title {
  font-size: 30px;
  /* padding-top: 10px;
  padding-bottom: 80px; */
  padding: 80px 0;
  font-family: 'PingFangSC';
  color: #2e313c;
}

.context_Package {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2% 0; */
}

.version_box {
  display: flex;
  flex-direction: row;
}

.little_box {
  width: 90%;
  min-width: 358px;
  height: 468px;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(52, 52, 52, 0.12);
  border-radius: 8px;
}

.little_box:nth-child(2) {
  margin: 0 30px;
}

.btn {
  width: 120px;
  border-color: rgb(13, 111, 222);
  color: rgb(13, 111, 222);
  font-size: 14px;
}

.title {
  height: 96px;
  line-height: 96px;
  font-size: 24px;
  color: #2e313c;
}

.price {
  height: 150px;
  background-color: #f5f7fa;
}

.callme {
  font-size: 26px;
  line-height: 114px;
}

.callme img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  vertical-align: sub;
}

.callme span {
  vertical-align: middle;
}

.money,
.callme {
  height: 108px;
  color: #0d6fde;
  font-family: PingFangSC-Medium !important;
}

.money {
  font-size: 20px;
}

.li_box {
  padding: 30px;
  height: 146px;
  text-align: left;
}

.li_box li {
  margin-bottom: 5px;
  color: #495b70;
}

.li_box li span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: solid 1px #0d6fde;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.btn_box {
  padding-top: 8px;
}

/*适配ipad*/
@media screen and (min-width: 415px) and (max-width: 768px) {
  .version_box {
    flex-direction: column;
  }

  .little_box {
    min-width: 435px;
  }

  .little_box:nth-child(2) {
    margin: 20px 0;
  }
}

/*适配ipad pro*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .little_box {
    min-width: 310px;
  }

  .purchase_main {
    padding: 10px 0;
  }
}

/* 适配各手机 */
@media screen and (min-width: 300px) and (max-width: 614px) {

  .page_title {
    padding: 50px 0;
  }

  .version_box {
    flex-direction: column;
  }

  .little_box {
    min-width: 310px;
  }

  .little_box:nth-child(2) {
    margin: 20px 0;
  }

  .purchase_main {
    padding: 10px;
  }
}